*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    background: #fff;
}
header{
    margin: 0 auto;
    height: 1px;
}
header .container{
    box-shadow: 0 0 3px 0;

    height: 100px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.938);
    position: relative;
    background-color: #BA8B57;
    overflow: hidden;

}


.list{
    display: flex;
    font-size: 19px;
    font-weight: 700;
    width: 1400px;
    margin: 10px 30px 200px 320px;
    height: 20px;
    justify-content: space-between;
    padding: 20px;
    list-style-type: none;
}

.list li a{
    text-decoration: none;
    color: black;
}

.list a:hover, header .container .list #hold{
    color: #BA8B57;
}

.principal{
    width: 70%;
    margin: 150px 100px 100px 400px;
    
    
}

.principal h2{
    text-align: center;
    font-size: 30px;
}

.container{
    width: 50%;
    box-sizing: border-box;
    float: left;   
    margin: 0;
}


.box{
    width: 600px;
    height: 200px;
    border: 1px solid grey;
    border-radius: 8px;
    padding: 20px;
    background-image: url(estufa-kaldi.jpg);
    background-size: cover;
    margin: 20px;
    display: flex;
    justify-content: center;

    

}

.box h2{
    text-transform: uppercase;
    color: rgb(255, 238, 0);
    font-size: 20px;
}

.box h3{
    color: red;
position: absolute;
margin: 2px; 
    
}

/*.box:hover h3{
    font-size: 3rem;
    transform: translate(160px, -160px);
}*/


.mini-box{
    width: 600px;
    height: 150px;
    border: 1px solid rgb(255, 251, 251);
    background-color: rgb(27, 25, 25);
    opacity: 90%;
    border-radius: 8px;
    padding: 20px;
    font-size: 20px;
    cursor: pointer;
}

.info{
    width: 70%;
    height: 100px;
    background-color: #BA8B57;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 8px;
    margin-left: 150px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-box{
    width: 80px;
    height: 80px;
    border: 1px solid rgb(255, 251, 251);
    background-color: rgb(27, 25, 25);
    opacity: 90%;
    border-radius: 8px;
    padding: 20px;
    font-size: 20px;
    cursor: pointer;
    margin: 10px;
    color: white;
}

i{
   
    font-size: 40px;
    margin:20px;
    
}
i:hover{
   color: #fff;
   cursor: pointer;
    
}

header .icon{
    display: flex;
    justify-content: end;
}




