

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

body {
    background-color: white;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #704F4F;
}

/* .header .container h1 {
    color: black;
    font-size: 30px;
    text-align: center;
} */


.header {
    background-color: rgb(255, 255, 255);
    height: 80px;
    justify-content: space-around;
}

.container {
    width: 80%;
    margin: auto;
}


.header .container {
    display: flex;
    justify-content: flex-end;
    margin-right: 10%;
    width: 100%;
    height: 80px;
}
.header .container img{
    width: 250px;
    height: 120px; 
    display: flex;
    margin-left: 15%;
    align-self: center;
}

.navbar {
    /* border: green solid 3px; */
    color: rgb(0, 0, 0);
    list-style: none;
    display: flex;
    align-items: center;
    width: 620px;
    justify-content: space-between;
    margin-right: 30px;
    font-size: 15px;
    font-weight: 700;
    padding: 10px;
    margin: 20px 125px 25px 200px;


}

.navbar li a {
    text-decoration: none;
    color: black;
}
.navbar #aqui {
    color: rgb(215, 170, 56);
} 

.navbar a:hover {
    color: brown;
}


/* Banner */

.banner {
    /* border: solid red 3px; */
    padding: 60px;
    height: 500px;
    display: flex;
    justify-content: center;
    background-image: url(assets/background_cafe2.jpg);
    background-size: cover;
    background-position: center;
}

/* .banner .container .spanum {
    background-image: url(assets/kaldi-mudadecafe.webp);
    background-size: cover;
} */

/* Formulário cadastro */

.caixa_formulario {

    background-image: none;
    width: 1000px;
    height: 430px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    /* border: 3px solid black; */
    background-size: cover;
    background-position: center;
    backdrop-filter: blur 40px;

}

.formulario {
    display: flex;
    flex-direction: column;
}

.formulario input {
    padding: 10px 15px;
    text-align: left;
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 5px;
    flex-direction: column
}


.formulario2 {
    display: flex;
    flex-direction: column;
}

.formulario2 input {
    padding: 10px 15px;
    text-align: left;
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 5px;
    flex-direction: column
}

.formulario3 button {

    width: 120px;
    margin-top: 10px;
    background: rgb(59, 11, 11);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    align-self: center;

}

/* footer */

.footer {
    background-image:linear-gradient(to bottom right, #BA8B57, #dfa869);
    /* background-color: #BA8B57; */
    border-top: solid 3px black;
    color: white;
    height: 190px;
}

.footer .container {
    /* border: solid 3px yellow; */
    width: 80%;
    margin: auto;
}

.footer .container h1 {
    font-family: 'Open Sans', sans-serif;
    margin: 0px 0px 0px 0px;
    padding: 10px 0px 0px 30px;
    
}

.footer .box {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* border: solid 3px blue; */
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}

.footer .redes .redesIcons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer .contato p {
    /* border: solid red 3px; */
    margin: 5px 0px 0px 0px;
}

.footer .contatoemail p{
    margin: 5px 0px 0px 0px;
}