body {
    margin: 0;
    font-family: Calibri;
}

.content {
    display: flex;
}

header {
    border-right: solid 2px #472D2D;
    height: 100vh;
    background-color: brown;
}

header ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

header ul li {
    border-radius: 10px;
    background-color: white;
    width: 70%;
    padding: 5px;
    text-align: center;
}

header ul li:hover {
    background-color: black;
    color: white;
}

header ul a {
    text-decoration: none;
    color: #472D2D;
}

.logo img {
    width: 200px;
}

/* Corpo */

.corpo {
    width: 80%;
    margin: auto;
}

.corpo .container {
    margin-top: 20px;
    padding: 0px 15px 15px 15px;
    border: solid 2px #472D2D;
    border-radius: 10px;
}

/* Metricas */

.metricas {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    border-radius: 10px;
}

.metricas .temp,
.umidade {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.metricas .temp>span,
.umidade>span {
    line-height: 50px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
}

.metricas .box {
    display: flex;
    justify-content: space-between;
    background-color: #BA8B57;
    border: solid 2px #472D2D;
    border-radius: 10px;
    font-size: 24px;
    gap: 15px;
    padding: 10px;
}

.box .alertPerigo {
    background-color: #FF0000;
    border: solid 2px #472D2D;
    border-radius: 10px;
    align-self: center;
    padding: 10px;
}

.box .alertAlerta {
    background-color: #FFC000;
    border: solid 2px #472D2D;
    border-radius: 10px;
    align-self: center;
    padding: 10px;
}

.box .alertIdeal {
    background-color: #92D050;
    border: solid 2px #472D2D;
    border-radius: 10px;
    align-self: center;
    padding: 10px;
}

hr {
    margin: 15px 0px 15px 0px;
    background-color: #472D2D;
    border: solid #472D2D 1px;
    border-radius: 2px;
    width: 100%;
}

/* Estufas */

.estufas {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.estufas .estufa .boxes_estufa {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
    width: 372.5px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #BA8B57;
    border: solid 2px #472D2D;
}

.estufas .estufa .setor {
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
    line-height: 25px;
    font-weight: bolder;
}

.exclamation {
    background-image: url('assets/alertaA.png');
    background-size: cover;
    align-self: center;
    width: 22px;
    height: 88px;
}

.estufa {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 18px;
}

.estufa>span {
    font-weight: 700;
    font-size: 24px;
    line-height: 50px;
}

.estufa .min {
    color: #92D050;
}

.estufa .max {
    color: #FF0000;
}

/* Pag 2 - Gráficos */

.metricas .grafico {
    width: 100%;
    margin-top: 10px;
}

.metricas.pag2 .temp,
.metricas.pag2 .umidade {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 10px 0px 10px;
    border: solid #472D2D 2px;
    border-radius: 10px;
}
