body {
    /* display: flex; */
    margin: 0;
    font-family: Calibri;
    /* background-color: black; */
}

.content {
    display: flex;
}

header {
    border-right: solid 2px black;
    /* background-color: black; */
}

.logo img {
    width: 200px;
}

/* Corpo */

.corpo{
    width: 79%;
    margin:auto;
}

/* Metricas */

.metricas {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 10px 0px 0px 0px;
    border-radius: 10px;
}

.metricas .temp,
.umidade {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px 20px 20px;
    border: solid 2px #472D2D;
    border-radius: 10px;
}

.metricas .temp>span,
.umidade>span {
    line-height: 50px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
}

.metricas .box {
    display: flex;
    justify-content: space-between;
    background-color: #BA8B57;
    border: solid 2px #472D2D;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 24px;
    width: 464.81px;
}

.box .alertPerigo {
    background-color: #FF0000;
    border: solid 2px #472D2D;
    border-radius: 10px;
    align-self: center;
    padding: 10px;
}

.box .alertAlerta {
    background-color: #FFC000;
    border: solid 2px #472D2D;
    border-radius: 10px;
    align-self: center;
    padding: 10px;
}

.box .alertIdeal {
    background-color: #92D050;
    border: solid 2px #472D2D;
    border-radius: 10px;
    align-self: center;
    padding: 10px;
}

/* Estufas */

.estufas {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 10px 0px 0px 0px;
    padding: 0px 0px 20px 0px;
    border: solid 2px #472D2D;
    border-radius: 10px;
    background-color: #A77979;
}

.estufas .estufa .boxes_estufa {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    padding: 5px;
    width: 372.5px;
    height: 98px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #BA8B57;
    border: solid 2px #472D2D;
}

.estufas .estufa .setor {
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
    line-height: 25px;
    font-weight: bolder;
}

.exclamation {
    background-image: url('assets/alertaA.png');
    background-size: cover;
    align-self: center;
    width: 22px;
    height: 88px;
}

.estufa {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 18px;
}

.estufa>span {
    font-weight: 700;
    font-size: 24px;
    line-height: 50px;
}

.estufa .min {
    color: #92D050;
}

.estufa .max {
    color: #000000;
}

/* Pag 2 - Gráficos */

.metricas .grafico {
    width: 100%;
    background-color: #BA8B57;
    border-radius: 10px;
}