body {
    background-color: white;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
}


.header {
    background-color: rgb(255, 255, 255);
    height: 80px;
    justify-content: space-around;
}

.header .container {
    display: flex;
    justify-content: flex-end;
    margin-right: 10%;
    width: 100%;
    height: 80px;
}

.header .container img {
    width: 250px;
    height: 120px;
    display: flex;
    margin-left: 15%;
    align-self: center;
}

.navbar {
    /* border: green solid 3px; */
    color: rgb(0, 0, 0);
    list-style: none;
    display: flex;
    align-items: center;
    width: 620px;
    justify-content: space-between;
    margin-right: 30px;
    font-size: 15px;
    padding: 10px;
    margin: 20px 125px 25px 200px;

}

.navbar li a {
    text-decoration: none;
    color: black;
}

.navbar #aqui {
    color: rgb(215, 170, 56);
}

.navbar a:hover {
    color: brown;
}

.banner {
    display: flex;
    background-color: rgb(236, 144, 24);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80px;
}

.banner h1 {
    margin: 0px 0px 0px 0px;
}

.social {
    display: flex;
    justify-content: space-around;
    background-image: url(assets/ilha-do-cafe.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.social .text2 {
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
    width: 35%;
    height: 50%;
    border: solid 2px rgb(0, 0, 0);
    border-radius: 12px;
    align-items: center;
    margin: 3% 0% 3% 0% ; 
}

.social .text2 .container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    font-size: large;
}

input {
    align-self: center;
    width: 70%;
    padding: 1%;
    text-align: left;
    border-bottom: solid 2px #000000;
    border-radius: 8px;
    background-color: rgb(204, 196, 196);
    margin: 1%;
}

button {
    color: rgb(255, 255, 255);
    background: rgb(59, 11, 11);
    border: none;
    padding: 12px;
    border-radius: 16px;
    cursor: pointer;
    margin-bottom: 26px;
    margin: 1% 0px 1% 0px;
}

button:hover {
    background-color: #946565;
}

.social .divtext2 {
    /* border: black 2px solid; */
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
    align-items: center;
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    border: solid 2px rgb(0, 0, 0);
    border-radius: 12px;
    width: 60%;
    margin: 1% 0% 1% 0%;
}

.divtext2 h2, h3{
    margin: 5px;
}


.footer {
    background-color: #BA8B57;
    border-radius: 10px 10px 0px 0px;
    color: white;
    height: 200px;
}

.footer .container {
    /* border: solid 3px yellow; */
    width: 80%;
    margin: auto;
}

.footer .container h1 {
    margin: 0px 0px 0px 0px;
    padding: 10px 0px 0px 30px;
}

.footer .box {
    /* border: solid 3px blue; */
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}

.footer .redes .redesIcons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer .contato p {
    /* border: solid red 3px; */
    margin: 5px 0px 0px 0px;
}