@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

body {
    background-color: white;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.footer h1 {

    display: flex;
    
    color: #e6b56d;

}

.footer p {

    text-align: left;
    color: #e6b56d;

}

.footer .container .box {
     
    /* border: solid 3px blue; */
    display: flex;
    justify-content: center;
    justify-content: space-between;
    
}

.footer .container {

    /* border: solid 3px yellow; */
    width: 80%;
    margin: auto;

}

.footer {
    background:linear-gradient(rgba(56,34,15),black);
    border-radius: 10px;
    
}