@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

body{
    background-color: white;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.logo{
    width: 200px;
    margin: 10px 20px 200px 20px;
    text-align: center;
    height: 60px;
}

.logo img{
    height: 50px;
    margin-bottom: 20px;
}

header .container{
    box-shadow: 0 0 3px 0;
    display: flex;
    height: 80px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.938);
}

.list{
    display: flex;
    font-size: 15px;
    font-weight: 700;
    width: 100%;
    margin: 20px 30px 200px 320px;
    height: 10px;
    align-items: right;
    justify-content: space-between;
    padding: 10px;
    list-style-type: none;
}

.list li a{
    text-decoration: none;
    color: black;
}

.list a:hover{
    color: #704F4F;
}